---
export const prerender = false;

import PropertyFeature from "@/modules/marketplace/propiedad/components/PropertyFeature.astro";
import Layout from "../../layouts/Layout.astro";
import MainFeatures from "@/modules/marketplace/propiedad/components/MainFeatures.astro";
import OtherFeatures from "@/modules/marketplace/propiedad/components/OtherFeatures.astro";
import Map from "@/modules/marketplace/propiedad/components/Map.astro";
import RelatedProperties from "@/modules/marketplace/propiedad/components/RelatedProperties.astro";
import FavoriteButtonDetail from "../../modules/marketplace/propiedad/components/FavoriteButtonDetail.jsx";

import type { Detail } from "@/modules/marketplace/propiedad/types/DetailType"

// service
import { getPropertyBySlug } from "@/modules/marketplace/propiedad/services/property.service";
import { buildWhatsappMessage, formatPrice } from "@/modules/marketplace/propiedad/utils/property";
import PropertyHeader from "@/modules/marketplace/propiedad/components/PropertyHeader.astro";

const slugPropiedad = Astro.params.slug;

if(!slugPropiedad){
  return Astro.redirect("/404");
}

const propiedad = await getPropertyBySlug(slugPropiedad);

if(!propiedad){
  return Astro.redirect("/404");
}



const priceNormalized = formatPrice(propiedad.price)

const mensaje = buildWhatsappMessage(propiedad.title)

const rawDetails: Detail[] = [
  {type: "building", value: propiedad.property_type, label: "Tipo"},
  {type: "bedrooms", value: propiedad.bedrooms, label: "Recamaras"},
  {type: "bathrooms", value: propiedad.bathrooms, label: "Baños"},
  {type: "parking", value: propiedad.parking, label: "Estacionamiento"},
  {type: "area", value: propiedad.area, label: "Area (m²)"},
  {type: "floors", value: propiedad.floors, label: "Pisos"},
]

const details = rawDetails.filter((item): item is Detail =>
  item.value !== null &&
  item.value !== 0
)

console.log(details)

---

<Layout title={propiedad.title}>
  <section class="w-11/12 md:w-10/12 lg:w-8/12 mx-auto">
    <div class="w-full flex justify-end py-2.5 px-3">
      <FavoriteButtonDetail idProperty={propiedad.id} client:load />
    </div>
    <PropertyHeader property_images={propiedad.property_images} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 relative animate-[fadeIn_1s_ease-in-out_forwards]"
    >
      <div class="col-span-2">
        <div class="border-b border-slate-300 py-4">
          <h1 class="text-3xl">{propiedad.title}</h1>
        </div>
        <!-- Component -->
        <div class="py-4 flex flex-col gap-4 border-b border-slate-300">
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            {
              details.map(detail => (
                <PropertyFeature
                  label={detail.label}
                  type={detail.type}
                  value={detail.value}
                />    
              ))
            }
          </div>
        </div>
        <!-- COmponent -->
        <div class="py-4 flex flex-col gap-4 border-b border-slate-300">
          <h2 class="text-xl font-semibold">Descripción</h2>
          <div class="flex flex-wrap gap-4">
            <p class="whitespace-pre-line">
              {propiedad.description}
            </p>
          </div>
        </div>
        <!-- Component -->
        <div class="py-4 flex flex-col gap-4 border-b border-slate-300">
          <h2 class="text-xl font-semibold">
            Servicios incluidos
          </h2>
          <MainFeatures services={propiedad.services} />
          { propiedad.amenities?.length ? (
            <h2 class="text-xl font-semibold">Amenidades</h2>
            <OtherFeatures services={propiedad.amenities} />
          ): null }
        </div>
        <div class="py-4 flex flex-col gap-4 border-b border-slate-300 mb-4">
          <h2 class="text-xl font-semibold">Ubicación</h2>
          <div class="flex flex-wrap gap-8">
            <Map estado={propiedad.estado} municipio={propiedad.municipio} colonia={propiedad.colonia}  />
            <span
              >La información exacta de la ubicación se proporciona por medio de
              Whatsapp.</span
            >
          </div>
        </div>
      </div>
      <div class="col-span-1 py-8">
        <div class="sticky top-28 md:px-4 w-full md:w-max">
          <div
            class="p-4 border border-slate-300 rounded-xl w-full flex flex-col gap-8 justify-center items-center"
          >
            <p class="text-3xl text-slate-800 font-semibold">
              {priceNormalized} MXN
            </p>
            <a
              href={`https://wa.me/${propiedad.users?.whatsapp}?text=${mensaje}`}
              target="_blank"
              rel="noopener noreferrer"
              class="border rounded-xl w-full flex items-center gap-4 py-3 px-4 bg-green-700 hover:bg-green-500 transition duration-200 text-white text-xl font-semibold"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                ></path></svg
              >
              Mas información
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="w-full pb-20 border-t md:border-t-0 border-slate-300">
      <h2 class="text-2xl py-8">Propiedades similares</h2>
      <RelatedProperties property_type={propiedad.property_type} propertyID={propiedad.id} />
    </section>
  </section>
  </section>

  <style>
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
</Layout>
